<?xml version="1.0" encoding="UTF-8"?>
<beans 
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="userBean" class="com.study.www.UserBean"></bean>
	<bean id="engine" class="com.study.www.Engine"></bean>
	<bean id="car" class="com.study.www.Car">
		<property name="engine" ref="engine"></property>
	</bean>
</beans>